{% extends "layout.html" %}
{% block title %}
Comment
{% endblock %}
{% block body %}
<h3 class="ui dividing header">『 {{ theme.title }} 』の評価 （{{ rating }}人）</h3>
<a class="ui right floated teal button" onClick="history.back(); return false;">戻る</a>
<div class="ui center aligned container">
  <canvas id="ratingChart" width="300" height="300"></canvas>
</div>
<h3 class="ui dividing header">コメント</h3>
{% for comment in comments %}
{% if comment.type == 'good' %}
<div class="ui teal message">
{% else %}
<div class="ui violet message">
{% endif %}
  <p>{{ comment.comment }}</p>
</div>
{% endfor %}
{% endblock %}
{% block script %}
<script src="//oss.maxcdn.com/chart.js/1.0.2/Chart.min.js"></script>
<script src="{{ url_for('static', filename='js/comments.js') }}"></script>
<script>
$(document).ready(function(){
  show_rating_graph('{{ event_id }}', '{{ presenter }}');
});
</script>
{% endblock %}
