{% extends "layout.html" %}
{% block title %}
Comment
{% endblock %}
{% block body %}
<form class="ui form" action="/comment/{{ event_id }}/{{ presenter }}" method="post">
  <table class="ui very basic teal table">
  {% for axis in axes %}
    <tr>
      <td><label for="{{ axis.name }}">{{ axis.jp_name }}</label></td>
      {% for idx in range(5)%}
      <td>
        <div class="field">
          <div class="ui radio checkbox {{ axis.name }}">
            {% if axis.value == idx + 1 %}
            <input type="radio" name="{{ axis.name }}" value="{{ idx + 1 }}" class="hidden" checked="">
            {% else %}
            <input type="radio" name="{{ axis.name }}" value="{{ idx + 1 }}" class="hidden">
            {% endif %}
            <label>{{ idx + 1 }}</label>
          </div>
        </div>
      </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>
  <div class="field">
    <label>良かった点</label>
    <textarea name="good" rows="2"></textarea>
  </div>
  <div class="field">
    <label>悪かった点</label>
    <textarea name="bad" rows="2"></textarea>
  </div>
  <button class="ui primary button" type="submit">投稿</button>
</form>
{% endblock %}
{% block script %}
<script src="//oss.maxcdn.com/semantic-ui/2.0.8/components/checkbox.min.js"></script>
<script src="{{ url_for('static', filename='js/comment.js') }}"></script>
{% endblock %}
