{% extends "layout.html" %}
{% block title %}
Event
{% endblock %}
{% block body %}
<form class="ui form" action="/api/event/{{ event.event_id }}" method="post">
  <div class="field">
    <label>タイトル</label>
    <input type="text" name="title" placeholder="Title" value="{{ event.title }}">
  </div>
  <div class="field">
    <label>開催日時</label>
    <input type="text" name="date" placeholder="Date" value="{{ event.date }}">
  </div>
  {% for theme in event.themes %}
  <div class="fields">
    <div class="two wide field">
      <p>{{ loop.index }}.</p>
    </div>
    <div class="four wide field">
      <select class="ui fluid search dropdown" name="username{{ loop.index }}">
        <option value=""></option>
        {% for user in users %}
          {% if theme.username == user.username %}
          <option value="{{ user.username }}" selected="">{{ user.username }}</option>
          {% else %}
          <option value="{{ user.username }}">{{ user.username }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="ten wide field">
      <input type="text" name="title{{ loop.index }}" value="{{ theme.title }}">
    </div>
  </div>
  {% endfor %}

  <button class="ui primary button" type="submit">保存</button>
</form>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/event.js') }}"></script>
{% endblock %}
