{% extends "layout.html" %}
{% block title %}
Event
{% endblock %}
{% block body %}
<table class="ui violet striped table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>開催日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td><a href="/event/{{ event.event_id}}">{{ event.title }}</a></td>
      <td>{{ event.date }}</td>
      <td>
        <a class="ui icon red button" onclick="delete_event('{{ event.event_id }}')">
          <i class="trash icon"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if session.is_admin %}
<form class="ui form" action="/event" method="post">
<div class="two fields">
  <div class="field">
    <div class="ui input">
      <input type="text" name="event_id" placeholder="New EventId">
    </div>
  </div>
  <div class="two wide field">
    <div class="ui input">
      <input type="submit" class="ui primary button" value="予定の追加">
    </div>
  </div>
</div>
</form>
{% endif %}
<div class="ui small modal">
  <div class="header">予定を削除してよろしいですか？</div>
  <div class="actions">
    <div class="ui approve primary button">はい</div>
    <div class="ui cancel button">いいえ</div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/event.js') }}"></script>
{% endblock %}
