{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block body %}
<h4 class="ui teal horizontal divider header">
  <i class="calendar icon"></i>
  次回の勉強会
</h4>

{% for event in next_events %}
<div class="ui teal segment">
  <h4 class="ui left floated header">
    {% if session.is_admin %}
    <a href="/event/{{ event.event_id }}">{{ event.title }}</a>
    {% else %}
    {{ event.title }}
    {% endif %}
  </h4>
  <h4 class="ui right floated header">{{ event.date }}</h4>
  <div class="ui clearing divider"></div>
  <div class="ui cards">
  {% for theme in event.themes if not theme.username == '' %}
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image"
          src="//www.gravatar.com/avatar/{{ theme.icon }}?d=identicon">
      <div class="header">{{ theme.username }}</div>
      <div class="description">
        {{ theme.title }}
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{% endfor %}

<h4 class="ui green horizontal divider header">
  <i class="calendar icon"></i>
  過去の勉強会
</h4>

{% for event in past_events %}
<div class="ui green segment">
  <h4 class="ui left floated header">
    {% if session.is_admin %}
    <a href="/event/{{ event.event_id }}">{{ event.title }}</a>
    {% else %}
    {{ event.title }}
    {% endif %}
  </h4>
  <h4 class="ui right floated header">{{ event.date }}</h4>
  <div class="ui clearing divider"></div>
  <div class="ui cards">
  {% for theme in event.themes if not theme.username == '' %}
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image"
          src="//www.gravatar.com/avatar/{{ theme.icon }}?d=identicon">
      <div class="header">{{ theme.username }}</div>
      <div class="description">
        {{ theme.title }}
      </div>
    </div>
    {% if session.username == theme.username %}
    <a class="ui bottom attached pink button"
       href="/comment/{{ event.event_id }}">
      <i class="comments icon"></i>
      評価を見る
    </a>
    {% else %}
    <div class="extra content">
      <span class="left floated like">
        <div class="ui blue label clickable" data-event="{{ event.event_id }}"
          data-user="{{ theme.username }}" data-type="hey">
          <span class="{{ event.event_id }} {{ theme.username|replace(".","-") }} hey">0</span>
          <span class="detail">へぇ</span>
        </div>
      </span>
      <span class="right floated star">
        <div class="ui pink label clickable" data-event="{{ event.event_id }}"
          data-user="{{ theme.username }}" data-type="dig">
          <span class="{{ event.event_id }} {{ theme.username|replace(".","-") }} dig">0</span>
          <span class="detail">もっと</span>
        </div>
      </span>
    </div>
    <a class="ui bottom attached teal button"
       href="/comment/{{ event.event_id }}/{{ theme.username }}">
      <i class="comment icon"></i>
      評価を投稿
    </a>
    {% endif %}
  </div>
  {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
