<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.0.8/semantic.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
<div class="ui grid">

  <div class="twelve wide column">
    {% if message %}
    <div class="ui message">
      <i class="close icon"></i>
      <div class="header">
        Error
      </div>
      <p>{{ message }}</p>
    </div>
    {% endif %}
    <div id="content" class="ui segment">
      {% block body %}{% endblock %}
    </div>
  </div>

  <div class="two wide column">
    <div class="ui compact vertical labeled icon menu">
      <a class="item" href="/home">
        <i class="home icon"></i>
        トップ
      </a>
      <a class="item" href="/user">
        <i class="users icon"></i>
        参加者
      </a>
      {% if session.is_admin %}
      <a class="item" href="/event">
        <i class="calendar outline icon"></i>
        予定
      </a>
      {% endif %}
      <a class="item active" href="/logout">
        <i class="sign out icon"></i>
        Exit
      </a>
    </div>
  </div>

</div>

<script src="//oss.maxcdn.com/jquery/2.1.4/jquery.min.js"></script>
<script src="//oss.maxcdn.com/semantic-ui/2.0.8/semantic.min.js"></script>
<script src="{{ url_for('static', filename='js/layout.js') }}"></script>
{% block script %}{% endblock %}
</body>
