{% extends "layout.html" %}
{% block title %}
User
{% endblock %}
{% block body %}
<form class="ui form" action="/api/user/{{ user.username }}" method="post">
  <div class="disabled field">
    <label>参加者名</label>
    <input type="hidden" name="username" value="{{ user.username }}">
    <input type="text" disabled placeholder="UserName" value="{{ user.username }}">
  </div>
  <div class="field">
    <label>パスワード</label>
    <input type="password" name="password" placeholder="Password" value="{{ user.password }}">
  </div>
  <div class="field">
    <label>メールアドレス</label>
    <input type="email" name="mailaddr" placeholder="Email" value="{{ user.mailaddr }}">
  </div>
  {% if session.is_admin %}
  <div class="field">
    <div class="ui checkbox">
      {% if user.is_admin %}
      <input type="checkbox" name="is_admin" checked="True">
      {% else %}
      <input type="checkbox" name="is_admin">
      {% endif %}
      <label>管理者権限</label>
    </div>
  </div>
  {% endif %}
  <button class="ui primary button" type="submit">保存</button>
</form>
{% endblock %}
{% block script %}
{% endblock %}
